<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Detalles del Doctor</title>
</head>
<body>

    <h1>Detalles del Doctor</h1>

    <table th:if="${doctor != null}" border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Estado</th>
        </tr>
        <tr>
            <td th:text="${doctor.id}"></td>
            <td th:if="${doctor == null}">Doctor no encontrado</td>
            <td th:text="${doctor.nombre}"></td>
            <td th:text="${doctor.direccion}"></td>
            <td th:text="${doctor.telefono}"></td>
            <td th:text="${doctor.estado}"></td>
        </tr>
    </table>

    <h1 th:if="${doctorNoEncontrado}">Doctor no Encontrado</h1>

</body>
</html>
